<!-- MODAL -->
<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Galeria</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="galleryForm" novalidate (ngSubmit)="createGallery()">

          <!--TITULO-->
          <div class="mb-3">
            <label class="form-label">Titulo: </label>
            <input type="text" class="form-control" formControlName="title" name="title" [ngClass]="{
              'is-invalid': galleryForm.get('title')?.invalid && galleryForm.get('title')?.touched,
              'is-valid': galleryForm.get('title')?.valid && galleryForm.get('title')?.touched
            }">

            <div class="invalid-feedback" *ngIf="galleryForm.get('title')?.errors?.['required']">
              El titulo es obligatorio
            </div>
          </div>

          
          <!--PUBLICATION DATE-->
            <div class="mb-3">
            <label class="form-label">Fecha de publicacion: </label>
            <input type="text" class="form-control" formControlName="publicationDate" name="publicationDate" [ngClass]="{
              'is-invalid': galleryForm.get('publicationDate')?.invalid && galleryForm.get('publicationDate')?.touched,
              'is-valid': galleryForm.get('publicationDate')?.valid && galleryForm.get('publicationDate')?.touched
            }">

            <div class="invalid-feedback" *ngIf="galleryForm.get('publicationDate')?.errors?.['required']">
              Debe ingresar la fecha de publicacion
            </div>
          </div>

          <!--VIEW ADD PHOTOS-->

          <div class="mb-3" *ngIf="photos.length > 0">
            <label class="form-label fw-bold">
              Fotos Agregadas:
            </label>

            <div *ngFor="let photo of photos" class="border rounded p-2 mb-2">
              <strong>{{photo.description}}</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
            <button *ngIf="!galleryCreated" type="button" class="btn btn-success"
            (click)="createGallery()">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="openPhotoModal()">Agregar Fotos</button>
            <button type="submit" class="btn btn-success" (click)="finish()">Finalizar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-photo-form *ngIf="showPhotoModal"
(photoCreated)="addPhoto($event)"
(closedModal)="closePhotoModal()"
></app-photo-form>
