<!-- MODAL -->
<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{isEditMode ? 'Editar Ejecutivo' : 'Crear Ejecutivo'}}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="executiveForm" novalidate (ngSubmit)="onSubmit()">

            <!--NAME-->
          <div class="mb-3">
            <label class="form-label">Nombre del Ejecutivo: </label>
            <input type="text" class="form-control" formControlName="name" name="name" [ngClass]="{
              'is-invalid': executiveForm.get('name')?.invalid && executiveForm.get('name')?.touched,
              'is-valid': executiveForm.get('name')?.valid && executiveForm.get('name')?.touched
            }">

            <div class="invalid-feedback" *ngIf="executiveForm.get('name')?.errors?.['required']">
              El nombre es obligatorio
            </div>
          </div>

          <!--SURNAME-->
            <div class="mb-3">
            <label class="form-label">Apellido del Ejecutivo: </label>
            <input type="text" class="form-control" formControlName="surname" name="surname" [ngClass]="{
              'is-invalid': executiveForm.get('surname')?.invalid && executiveForm.get('surname')?.touched,
              'is-valid': executiveForm.get('surname')?.valid && executiveForm.get('surname')?.touched
            }">

            <div class="invalid-feedback" *ngIf="executiveForm.get('surname')?.errors?.['required']">
              El apellido es obligatorio
            </div>
          </div>

          
           <!--POSICION (enum)-->
            <div class="mb-3">
                <label class="form-label">Posicion: </label>
                <select class="form-select" formControlName="position" name="position" [ngClass]="{
                'is-invalid': executiveForm.get('position')?.invalid && executiveForm.get('position')?.touched,
                'is-valid': executiveForm.get('position')?.valid && executiveForm.get('position')?.touched
                }">
                <option value="" disabled selected>Seleccione una posicion</option>
                <option value="President">Presidente</option>
                <option value="VicePresident">VicePresidente</option>
                <option value="SecretaryGeneral">Secretario/a General</option>
                <option value="ProSecretary">Pro Secretario</option>
                <option value="Treasurer">Tesorero</option>
                </select>

                <div class="invalid-feedback" *ngIf="executiveForm.get('position')?.errors?.['required']">
                    La posicion es obligatoria
                </div>
            </div>


          <!--IMAGE-->
            <div class="form-group mb-3">
            <input type="file" class="form-control" id="urlImage" accept="image/*" (change)="onFileSelected($event)">
            </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
