<div class="container my-5 my-gallery">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/foto1-prueba.jpg" class="d-block w-100" alt="Equipo Parana">
                    </div>
                    <div class="carousel-item">
                        <img src="images/foto2-prueba.jpg" class="d-block w-100" alt="Equipo Parana 2">
                    </div>
                    <div class="carousel-item">
                        <img src="images/foto3-prueba.jpg" class="d-block w-100" alt="Equipo Parana 3">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>