<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="logo-clubP.ico" alt="Logo CAP" width="45" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClub" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Club
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownClub">
            <li><a class="dropdown-item" [routerLink]="getCategoriesRoute()">Categorías</a></li>
            <li><a class="dropdown-item" [routerLink]="getDisciplinesRoute()">Disciplinas</a></li>
            <li><a class="dropdown-item" [routerLink]="getExecutivesRoute()">Ejecutivos</a></li>
            <li><a class="dropdown-item" [routerLink]="getClubRoute()">Historia</a></li>
            <li><a class="dropdown-item" [routerLink]="getPlayersRoute()">Jugadores</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getReportsRoute()">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getGalleryRoute()">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getSponsorsRoute()">Sponsors</a>
        </li>
      </ul>
      <button
  *ngIf="isAdmin"
  type="button"
  class="btn btn-outline-danger"
  (click)="logout()">
  Cerrar sesión
</button>
    </div>
  </div>
</nav>