<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-danger fw-bold">Administrar Ejecutivos</h1>

        <button class="btn btn-primary" (click)="openModal()">Agregar</button>
    </div>

    <div class="table-responsive shadow-sm rounded">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-danger">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Posicion</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let executive of executives">
                    <td>{{executive.name}}</td>
                    <td>{{executive.surname}}</td>
                    <td>{{executive.position}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-success" (click)="openEditModal()">Editar</button>
                        <button class="btn btn-outline-danger btn-sm" (click)="eliminatedExecutive(executive.idExecutive)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-forms-executives *ngIf="showModal" (executiveCreated)="createExecutive($event)" (closedModal)="closeModal()">

</app-forms-executives>
