.admin-preview-img{
    display: block;
    max-width: 100%;
    max-height: 180px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-top: 8px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding:6px;
}