<section class="container my-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="fw-bold mb-1">Gestión de Galerías</h2>
      <p class="text-muted mb-0">
        Administrá las galerías y sus fotografías.
      </p>
    </div>

    <!-- Botón para abrir el modal -->
    <button
      type="button"
      class="btn btn-danger"
      (click)="openModal()"
    >
      <i class="bi bi-plus-lg"></i>
      Nueva galería
    </button>
  </div>

  <!-- Acá después va el listado de galerías -->
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <p class="text-muted mb-0">
        Todavía no hay galerías cargadas.
      </p>
    </div>
    <div *ngIf="galleries.length > 0">

        <div *ngFor="let gallery of galleries">
          <h5>{{ gallery.title }}</h5>
          <p>{{ gallery.publicationDate }}</p>
        </div>

      </div>
  </div>

</section>

<app-gallery-form 

></app-gallery-form>