<div class="sponsor-strip" *ngIf="sponsors.length > 0">

  <div class="text-center mb-5">
      <h3 class="text-danger fw-bold">Nuestros Sponsors</h3>
      <hr class="w-25 mx-auto text-danger" style="height: 3px;">
  </div>

  <div class="sponsors-track-wrapper">

    <div class="sponsors-track">

      <div class="sponsor-logo-wrap" 
      *ngFor="let sponsor of displaySponsors"
      >

      <img [src]="sponsor.urlImage" [alt]="'Logo de'  + sponsor.name" 
      >
      </div>
    </div>
  </div>
</div>

  <div
    *ngIf="sponsors.length === 0"
    class="py-4 text-center"
  >
    <p class="text-muted mb-0">
      No hay sponsors disponibles.
    </p>
  </div>

