<div class="container text-center my-5"> <h3 class="mb-4 text-muted text-uppercase" style="font-size: 1.2rem; letter-spacing: 2px;">Sponsors</h3>
  
  <div class="row align-items-center justify-content-center g-4"> <div class="col-6 col-md-3">
      <img src="images/imagesbanco.png" class="img-fluid w-75 mx-auto d-block" alt="Imagen logo Banco Entre Rios">
    </div>
    
    <div class="col-6 col-md-3">
      <img src="images/parana-image.png" class="img-fluid w-75 mx-auto d-block" alt="Imagen Logo Paraná">
    </div>
    
    <div class="col-6 col-md-3">
      <img src="images/Liga_Paranaense_de_Fútbol.png" class="img-fluid w-75 mx-auto d-block" alt="Imagen logo Liga Paranaense">
    </div>
    
    <div class="col-6 col-md-3">
      <img src="images/images.jpg" class="img-fluid w-75 mx-auto d-block" alt="Imagen logo JuliCrocs">
    </div>

  </div>
</div>