.sponsors-track-wrapper {
  width: 100%;
  overflow: hidden;
}

.sponsors-track{
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll-sponsors 15s linear infinite;
}

@keyframes scroll-sponsors{
  from { transform: translateX(0);}
  to {transform: translateX(-50%);}
}

.sponsor-logo-wrap{
  flex: 0 0 auto;
  padding: 0 70px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.sponsor-logo-wrap img{
  max-height: 80px;
  max-width: 160px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.sponsors-strip::before, 
.sponsors-strip::after{
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  width: 80px;
  z-index: 2;
  pointer-events: none;
}

.sponsors-strip::before{
  left: 0;
  background: linear-gradient(to righ, #c00000, rgba(192,0,0,0));
}

.sponsors-strip::after{
  right: 0;
  background: linear-gradient(to left, #c00000, rgba(192,0,0,0));
}

@media (max-width:576px){
  .sponsor-logo-wrap{
    padding: 0 28px;
    height: 70px;
  }

  .sponsor-logo-wrap img{
    max-height: 45px;
    max-width: 120px;
  }

  .sponsors-strip::before,
  .sponsors-strip::after {
    width: 40px;
  }
}
