<!-- MODAL -->
<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Categoria</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categorityForm" novalidate (ngSubmit)="createCategority()">

          <!--NAME-->
          <div class="mb-3">
            <label class="form-label">Nombre Categoria: </label>
            <input type="text" class="form-control" formControlName="nameCategority" name="nameCategority" [ngClass]="{
              'is-invalid': categorityForm.get('nameCategority')?.invalid && categorityForm.get('nameCategority')?.touched,
              'is-valid': categorityForm.get('nameCategority')?.valid && categorityForm.get('nameCategority')?.touched
            }">

            <div class="invalid-feedback" *ngIf="categorityForm.get('nameCategority')?.errors?.['required']">
              El nombre es obligatorio
            </div>
          </div>
          <!--VISTA DE JUGADORES AGREGADOS-->

          <div class="mb-3" *ngIf="players.length > 0">
            <label class="form-label fw-bold">
              Jugadores Agregados:
            </label>

            <div *ngFor="let player of players" class="border rounded p-2 mb-2">
              <strong>{{player.name}} {{player.surname}}</strong>
              <br>
              <small>
                {{player.position}} - {{player.num}}
              </small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="openPlayerModal()">Agregar Jugador</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-player-form *ngIf="showPlayerModal" (playerCreated)="createPlayer($event)" (closedModal)="closePlayerModal()">

</app-player-form>