<div *ngFor="let position of positions" class="mb-5 pb-4 border-bottom">
<h2 class="text-danger fw-bold mb-4 text-uppercase fs-3">
  {{position}}s
</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let player of getPlayersByPosition(position)">
      <div class="card h-100 shadow-sm border-0 text-center">
        <div class="p-3 bg-light text-center">
          <img [src]="player.urlImage || 'assets/img/placeholder-jugador.jpg'"
            [alt]="player.name + ' ' + player.surname"
            class="img-fluid rounded-circle border border-2 border-danger mx-auto"
            style="width: 120px; height: 120px; object-fit: cover;">
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title fw-bold mb-1">
            {{ player.name }} {{player.surname}} 
          </h5>

          <p class="card-text text-muted small mb-0">
            {{ player.position }}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>