<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-danger fw-bold">Administrar Disciplinas</h1>

        <button class="btn btn-primary" (click)="openModal()">Agregar</button>
    </div>

    <div class="table-responsive shadow-sm rounded">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-danger">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion (DIAS)</th>
                    <th scope="col">Horarios</th>
                    <th scope="col">Profesor Asignado</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let disci of disciplines">
                    <td>{{disci.nameDiscipline}}</td>
                    <td>{{disci.description}}</td>
                    <td>{{disci.schedule}}</td>
                    <td>{{disci.professorAsig}}</td>
                    <td>{{disci.ubication}}</td>
                    <td class="d-flex justify-content-center gap-2">
                        <button class="btn btn-sm btn-outline-danger action-btn" (click)="openEditModal(disci)"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-sm btn-danger action-btn" (click)="deleteDiscipline(disci.idDiscipline)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-discipline-form *ngIf="showModal"
[discipline]="selectedDiscipline"
 (disciplineCreated)="createDiscipline($event)"
 (disciplineUpdated)="updateDiscipline($event)" 
 (closedModal)="closeModal()">

</app-discipline-form>