<!-- MODAL -->
<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Foto</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="photoForm" novalidate (ngSubmit)="createPhoto()">

            <!--DESCRIPCION-->
          <div class="mb-3">
            <label class="form-label">Descripcion: </label>
            <input type="text" class="form-control" formControlName="description" name="description" [ngClass]="{
              'is-invalid': photoForm.get('description')?.invalid && photoForm.get('description')?.touched,
              'is-valid': photoForm.get('description')?.valid && photoForm.get('description')?.touched
            }">

            <div class="invalid-feedback" *ngIf="photoForm.get('description')?.errors?.['required']">
              La descripcion es obligatoria
            </div>
          </div>


            <!--IMAGE-->
            <div class="form-group mb-3">
            <input type="file" class="form-control" id="urlImage" accept="image/*" (change)="onFileSelected($event)">
            </div>



          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

