<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-danger fw-bold">Administrar Sponsors</h1>

        <button class="btn btn-primary" (click)="openModal()">Agregar</button>
    </div>

    <div class="table-responsive shadow-sm rounded">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-danger">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let sponsor of sponsors">
                    <td>{{sponsor.name}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteSponsor(sponsor.idSponsor)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-sponsor-forms
*ngIf="showModal"
(sponsorCreate)="createSponsor($event)"
(closedModal)="closeModal()"
></app-sponsor-forms>