<div class="container my-5">
  <!--ENCABEZADO-->

  <div class="d-flex justify-content-between aling-items-center mb-4">
    <h2 class="fw-bold mb-0">Noticias</h2>
    <button class="btn btn-primary" (click)="openModal()">Agregar</button>
  </div>

  <!--Buscadores-->
  <div class="row g-3 mb-4">
    <div class="col-md-6">
      <label for="searchId" class="form-label fw-semibold">Buscar por ID</label>
      <input type="number"
      id="searchId"
      class="form-control"
      placeholder="Ingrese el ID de la noticia"
      [(ngModel)]="searchId"
      >
    </div>

    <div class="col-md-6">
      <label for="searchTitle" class="form-label fw-semibold">Buscar por titulo</label>
      <input type="text"
      id="searchTitle"
      class="form-control"
      placeholder="Ingrese el titulo de la noticia"
      [(ngModel)]="searchTitle"
      >
    </div>

    <div class="col-12">
      <button class="btn btn-primary btn-sm" (click)="filterReports()">Buscar</button>
    </div>
  </div>

  <!--TABLA-->
  <div class="table-responsive shadow-sm rounder">
    <table class="table table-hover aling-middle mb-0">
      <thead class="table-danger">
        <tr>
          <th scope="col">ID</th>
          <th scope="col" >Titulo</th>
          <th scope="col">Fecha</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>

      <tbody> 
        <tr *ngFor="let report of filteredReports">
          <td>{{report.idReport}}</td>
          <td>{{report.title}}</td>
          <td>{{report.publicationDate}}</td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-sm btn-outline-danger action-btn" title="Editar" (click)="openEditModal(report)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger action-btn" title="Eliminar" (click)="deleteReport(report.idReport)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="filteredReports.length === 0">
          <td colspan="4" class="text-center text-muted py-4">
            No hay noticias disponibles
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<app-report-form *ngIf="showModal" 
[report]="selectedReport"
(reportCreated)="createReport($event)" 
(reportUpdated)="updateReport($event)"
(closedModal)="closeModal()">

</app-report-form>



